.project-section {
  position: relative !important;
  padding-top: 50px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
  color: rgb(0, 0, 0) !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.btn-primary {
  color: #000000 !important;
  background-color: #623686 !important;
  border-color: #623686 !important;
}

.btn-primary:hover {
  color: #000000 !important;
  background-color: #6d20c5d7 !important;
  border-color: #6d20c5d7 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.project-heading {
  color: rgb(0, 0, 0) !important;
  font-size: 2.3em !important;
  font-weight: 700 !important;
  padding-top: 10px !important;
}

.card-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  font-weight: 500;
}

.card-content {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: 300;
}
