.resume {
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.resume-header {
  text-align: left;
  font-size: 2em;
  font-weight: 600;
  color: blueviolet;
  border-style: dashed;
  border-radius: 2px;
}

.resume-content {
  text-align: left;
  font-size: 1.3em;
  font-weight: 400;
}

.resume-subheader {
  text-align: left;
  font-size: 1.8em;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.resume-job-title {
  text-align: left;
  font-size: 1.5em;
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-style: italic;
}

.resume-button {
  color: whitesmoke;
}
