.type-header {
  font-size: 2.5em;
  font-weight: 600;
  color: rgb(8, 8, 8);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.type {
  font-size: 1.8em;
  font-weight: 400;
  color: rgb(8, 8, 8);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.home-section {
  width: 100%;
  justify-content: center;
  position: relative;
  z-index: 1 !important;
  padding-bottom: 20px !important;
  font-family: "Times New Roman", Times, serif;
}

.home-intro {
  z-index: 2;
  margin-left: 2%;
  width: 96%;
  margin-right: 2%;
  justify-content: center;
  margin-top: 20px;
  background-image: url(../../Assets/img/home.jpg);
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
}

.type-part {
  margin-top: 0;
}

.home-about {
  padding-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
  justify-content: center;
}

.hr-type {
  margin-left: 0;
  margin-right: 1%;
}

.home-about-header {
  font-size: 2.5em;
  color: rgb(8, 8, 8);
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.home-img {
  width: 35%;
  height: auto;
}

.home-about-content {
  padding-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  padding-bottom: 25px;
  font-size: 1.7em;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

.ref-link:link {
  color: rgb(255, 7, 181) !important;
}

.ref-link:visited {
  color: rgb(132, 0, 255) !important;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #700c86 !important;
}

.skills {
  padding-top: 10px;
  padding-bottom: 30px;
  justify-content: center;
}

.skill-header {
  font-size: 1.7em;
  text-align: center;
  font-weight: 500;
  color: blueviolet;
  font-family: "Times New Roman", Times, serif;
}

.skill-detail {
  text-align: center;
  font-size: 1.7em !important;
  font-weight: 500;
  margin-left: 25%;
  width: auto;
  font-family: "Times New Roman", Times, serif;
}
